# Nestjs specific
/dist
/node_modules
/build
/tmp
postgres/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.tsbuildinfo

# dotenv environment variable files
.env
.env.dev
.env.test
.env.prod

# temp directory
.temp
.tmp

/src/generated/prisma
